MSSQL_DRIVER=net.sourceforge.jtds.jdbc.Driver
MSSQL_CONNECTION_STRING=jdbc:jtds:sqlserver://%s/%s;TDS=8.0;useCursors=false;user=%s;password=%s
#MSSQL_DB_HOST=10.199.18.118:1433
MSSQL_DB_HOST=10.30.15.10:1433
MSSQL_DB_USER=itsm_report
MSSQL_DB_PASS=itsm_report@tom
MSSQL_DB_NAME=ITSM_DB9

MYSQL_DB_HOST=localhost
MYSQL_DB_USER=root
MYSQL_DB_PASS=
MYSQL_DB_NAME=sdk

WATCHER_LOOP_PERIOR_PRODUCT=86400000
WATCHER_LOOP_PERIOR_DEPARTMENT=86400000
WATCHER_LOOP_PERIOR_ASSIGNMENT=86400000
WATCHER_LOOP_PERIOR_ASSIGNEE=86400000
WATCHER_LOOP_PERIOR_INCIDENT=120000
WATCHER_LOOP_PERIOR_CHANGE=120000
WATCHER_LOOP_PERIOR_TASK=120000

WATCHER_SYNCH_BACK_DISTANCE=24

LOG_PATH=/var/www/sdkhome/logs/

MSSQL_TBL_INCIDENT=[All_Incident2010]
MSSQL_TBL_PRODUCT=DEVICE2M1
MSSQL_FIELD_PRODUCT_NAME=[LOGICAL_NAME]
MSSQL_FIELD_PRODUCT_DEPARTMENT_NAME=[DEPARTMENT]
MSSQL_SELECT_LIMIT=1000

SYNCH_PRODUCT_AT_START=TRUE
SYNCH_DEPARTMENT_AT_START=TRUE
SYNCH_ASSIGNMENT_GROUP_AT_START=TRUE
SYNCH_ASSIGNEE_AT_START=FALSE
SYNCH_SE_REPORT_AT_START=FALSE

SYNCH_PRODUCT_AT=04:00:00
SYNCH_DEPARTMENT_AT=04:05:00
SYNCH_ASSIGNMENT_GROUP_AT=04:15:00
SYNCH_ASSIGNEE_AT=04:20:00

SPECIAL_247_USER=tg.servicedesk,zabbixws

SMS_SERVICE_URL=http://10.30.15.16/services/SendSMS.php?phonenumber=